@model SandalsUI.Models.Dashboard

@{
    Layout = "_Layout";
}
@section Styles{
    <link href="~/css/dashboard.css" rel="stylesheet" type="text/css" />
}

@if (Model == null)
{
    <div class="sales-data-container">
        <div class="sales-header">
            <div class="sales-totals">
                <p class="general-lbl">Total Sales</p>
                <h5 class="sales-total">$0.00 <span class="this-month">(This Month)</span></h5>
                <p class="previous-period">Previous period: <span class="prev-total">$0.00</span> <span class="trend trend-neutral"><i class="fas fa-dot-circle"></i>$0.00</span></p>
            </div>
            <select disabled class="form-control" id="year-selector">
                <option selected>This Year</option>
                <option>Last Year</option>
            </select>
        </div>
        <div class="sales-chart-container">
            <div class="ct-chart ct-double-octave sales"></div>
        </div>
        <p class="general-lbl">General Statistics</p>
        <div class="statisitcs-container stat-reg-user">
            <div class="statistic">
                <div class="stat-ic-container">
                    <i class="fas fa-users stat-ic"></i>
                </div>
                <div class="stat-values">
                    <p>Registered Users</p>
                    <h6>No data</h6>
                </div>
            </div>
            <div class="statistic stat-open-order">
                <div class="stat-ic-container">
                    <i class="fas fa-handshake stat-ic"></i>
                </div>
                <div class="stat-values">
                    <p>Open Orders</p>
                    <h6>No data</h6>
                </div>
            </div>
            <div class="statistic stat-processing-order">
                <div class="stat-ic-container">
                    <i class="fas fa-clock stat-ic"></i>
                </div>
                <div class="stat-values">
                    <p>In Processing</p>
                    <h6>No data</h6>
                </div>
            </div>
            <div class="statistic stat-processed-order">
                <div class="stat-ic-container">
                    <i class="fas fa-file-invoice-dollar stat-ic"></i>
                </div>
                <div class="stat-values">
                    <p>Processed</p>
                    <h6>No data</h6>
                </div>
            </div>
        </div>
        <p class="general-lbl" style="margin-bottom: 0px;">Recent Orders</p><a class="all-orders-link" href="#">view all orders</a>
        <div class="order-container">
            <div class="order-item">
                <div class="order-header">
                    <div class="order-status-strip order-strip-status-processing">
                        <p>PROCESSING</p>
                    </div>
                    <div class="customer-info">
                        <p>Mark Scott</p>
                        <p>a.markscott13@gmail.com</p>
                        <p>(876) 542-4690</p>
                    </div>
                    <div class="order-summary">
                        <div class="order-section">
                            <h5>Order #</h5>
                            <p>5401</p>
                        </div>
                        <div class="order-section">
                            <h5>Order Date</h5>
                            <p>July 15, 2020</p>
                        </div>
                        <div class="order-section">
                            <h5>Items Count</h5>
                            <p>2</p>
                        </div>
                        <div class="order-section">
                            <h5>Total</h5>
                            <p>$3,250.00</p>
                        </div>
                    </div>
                    <div class="controls">
                        <i class="fas fa-edit edit-order"></i>
                        <i class="fas fa-ellipsis-h view-details"></i>
                    </div>
                </div>
                <div class="order-content">
                    <p class="items-header">Items</p>
                    <div class="order-details-container">
                        <div class="order-detail-item">
                            <div class="product-img-wrapper">
                                <img alt="Product Image" src="~/images/no_product.jpg" />
                            </div>
                            <div class="order-info">
                                <h5>Sandals Type 1 Small</h5>
                                <p class="retail-price">$3,500.00</p>
                                <p>Quantity: <span class="quantity">12</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{

}

@section Scripts{
    <script src="http://localhost:9693/public/lib/microsoft/signalr/dist/signalr.js"></script>
    <script src="~/js/signalr.notifications.js"></script>
    <script>
        $(document).ready(function () {
            var data = {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                series: [
                    [5, 4, 3, 7, 5, 10, 3, 4, 8, 10, 6, 8]
                ]
            };

            var options = {
                seriesBarDistance: 10
            };

            var responsiveOptions = [
                ['screen and (max-width: 640px)', {
                    seriesBarDistance: 5,
                    axisX: {
                        labelInterpolationFnc: function (value) {
                            return value[0];
                        }
                    }
                }]
            ];
            new Chartist.Bar('.ct-chart.sales', data, options, responsiveOptions);

            $(".order-item").click(function () {
                $(this).toggleClass("order-details");
            });
        });
    </script>
}