body, html {
  padding: 0;
  margin: 0;
  background-color: #fff;
  min-width: 1200px;
  overflow-y: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.main {
  display: flex;
  flex-direction: row; }

.reload {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  transition: all .2s; }

.reload:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.sidebar {
  width: 290px;
  background-color: #f5f6fa;
  height: 100vh;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.1);
  z-index: 100; }

.sidebar-header {
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center; }

.sidebar-footer {
  width: 100%;
  height: 50px;
  flex: 0 0 auto;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-color: #eff1f7;
  color: #9c9c9c;
  font-weight: bold; }

.sidebar-header-container {
  padding: 25px;
  margin-bottom: 10px; }

.sidebar-header img {
  height: 40px;
  width: auto;
  margin-right: 10px; }

.sidebar-header h4 {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold; }

.sidebar-content {
  flex: 1; }

.app-version {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0;
  display: inline;
  margin-left: 7px; }

.side-menu {
  padding: 0; }

.side-menu li {
  list-style: none;
  height: 55px;
  display: flex;
  align-items: center;
  margin-bottom: 10px; }

.side-menu li a {
  text-decoration: none; }

.strip {
  height: 100%;
  width: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.menu-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #a0a0a0 !important;
  padding: 15px;
  border-radius: 5px; }

.menu-item-wrapper {
  margin-left: 25px;
  margin-right: 25px;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  transition: all .2s; }

.menu-item-wrapper:hover {
  background-color: rgba(221, 221, 221, 0.58); }

.menu-item-wrapper:active {
  background-color: rgba(68, 68, 68, 0.53); }

.menu-item-wrapper:active .menu-item {
  color: #fff !important; }

.menu-item h4 {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: bold; }

.menu-item i {
  margin-right: 23px;
  width: 17px !important; }

li.menu-active .strip {
  background-color: #376ed9 !important; }

li.menu-active .menu-item {
  background-color: #376ed9 !important;
  box-shadow: 0px 2px 41px -14px #3a78f2;
  color: #fff !important; }

li.menu-active .menu-item-wrapper {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16); }

.content {
  background-color: #fff;
  box-shadow: 7px 0px 25px -11px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  z-index: 10;
  padding: 20px; }

.sidebar-activity {
  width: 390px;
  background-color: #f5f6fa;
  height: 100vh;
  flex: 0 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column; }

.sidebar-activity-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center; }

.profile-view {
  border-radius: 50px;
  padding: 10px;
  background-color: #376ed9;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  transition: all .1s;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0.01px rgba(173, 173, 173, 0.7);
  position: relative; }

.dropdown-container {
  width: 310px;
  z-index: 1000;
  position: absolute;
  top: 115%;
  left: 0;
  box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.49);
  right: -10px;
  left: auto;
  border-radius: 7px;
  background-color: #fff;
  display: none;
  flex-direction: column;
  color: #000;
  border: 1px solid #d0d0d0;
  cursor: initial;
  transition: all .14s ease-in-out;
  overflow: hidden; }

.avatar {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.avatar img {
  width: 20px; }

.btn-simple {
  border: 1px solid #cecece;
  display: block;
  background-color: transparent;
  text-align: center;
  color: #376ed9;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  border-radius: 16px;
  transition: all .1s ease-in-out; }

.btn-simple:hover {
  background-color: #376ed9 !important;
  color: #fff !important; }

.btn-simple i {
  margin-right: 10px; }

.dropdown-heading {
  width: 100%;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  align-items: center; }

.dropdown-content {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px; }

.user-info {
  margin-left: 10px;
  flex: auto; }

.user-info h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px; }

.user-info p {
  margin-bottom: 0px;
  font-size: 13px;
  color: #404040; }

.profile-view-wrapper {
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.29);
  border-radius: 50px; }

.profile-view h5 {
  margin-bottom: 0px !important;
  font-size: 15px;
  pointer-events: none; }

.profile-view:hover {
  box-shadow: 0px 0px 0px 3px rgba(173, 173, 173, 0.7); }

.profile-view:active {
  box-shadow: 0px 0px 0px 3px rgba(173, 173, 173, 0.8); }

.profile-view:visited {
  box-shadow: 0px 0px 0px 3px rgba(173, 173, 173, 0.8); }

.settings {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  transition: all .2s; }

.settings:hover {
  font-size: 20px; }

.sidebar-activity-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; }

.activity-title {
  color: #717171;
  margin-top: 20px;
  font-size: 17px; }

.activity-subtitle {
  color: #717171;
  margin-top: 20px;
  font-size: 15px;
  font-style: italic; }

.user-activity-card {
  width: 100%;
  padding: 15px;
  color: rgba(255, 255, 255, 0.74);
  border-radius: 4px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: #376ed9;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 15px; }

.activity-card-header {
  font-size: 17px;
  margin-bottom: 0px; }

.active-users {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: bold; }

.card-sub-header {
  font-size: 13px;
  margin-bottom: 5px; }

.user-activity-card .ct-series-a .ct-bar {
  stroke: #dee9ff;
  cursor: pointer;
  stroke-width: 5px;
  transition: all .2s; }

.user-activity-card .ct-series-a .ct-bar:hover {
  stroke: #343434; }

.timeline-container {
  flex: 1;
  width: 100%; }

.ct-axis-title {
  fill: rgba(255, 255, 255, 0.74) !important;
  font: italic 13px sans-serif; }

.stat-reg-user .stat-ic {
  color: #376ed9 !important; }

.stat-open-order .stat-ic {
  color: #FF729F !important; }

.stat-processing-order .stat-ic {
  color: #D972FF !important; }

.stat-processed-order .stat-ic {
  color: #67bf84 !important; }

.order-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px; }

.order-status-strip {
  background-color: #393939;
  position: relative;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

.order-status-strip p {
  transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.74);
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0px;
  letter-spacing: 1.4px; }

.order-strip-status-open {
  background-color: #FF729F; }

.order-strip-status-processing {
  background-color: #D972FF; }

.order-strip-status-processed {
  background-color: #67bf84; }

.order-item {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  transition: all .2s;
  max-width: 900px;
  cursor: pointer; }

.order-item:hover .order-header {
  background-color: #f8f8f8; }

.customer-info {
  background-color: #fafafa;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.05);
  z-index: 20; }

.this-month {
  font-size: 15px !important;
  font-style: italic !important;
  color: #918f8f !important;
  position: absolute;
  top: 4px;
  right: 30px;
  font-weight: normal; }

.customer-info p {
  color: #5a5a5a !important;
  margin-bottom: 0px;
  font-size: 12px; }

.customer-info p:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
  color: #376ed9 !important; }

.order-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 104px;
  background-color: #fafafa; }

.order-summary {
  flex: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between; }

.controls {
  height: 100%;
  display: flex;
  padding: 10px;
  color: #8e8e8e;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between; }

.controls i {
  cursor: pointer;
  transition: all .2s; }

.controls i:hover {
  color: #376ed9; }

.order-section {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.order-section h5 {
  font-size: 16px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #777; }

.order-section p {
  font-weight: bold;
  color: #376ed9;
  font-size: 14px;
  margin-bottom: 0px; }

.order-content {
  width: 100%;
  transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
  max-height: 0px;
  border-top: 0px dashed #f0f0f0; }

.order-details .order-content {
  height: auto;
  max-height: 1000px;
  border-top: 1px dashed #dedede; }

.order-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; }

.order-detail-item {
  width: 100%;
  display: flex;
  flex-direction: row; }

.product-img-wrapper {
  width: 120px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  align-self: center; }

.product-img-wrapper img {
  width: 100%;
  height: auto; }

.items-header {
  color: #717171;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px; }

.order-info {
  margin-left: 10px;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center; }

.order-info h5 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
  color: #636363; }

.order-info p {
  margin-bottom: 0;
  font-size: 13px; }

.retail-price {
  font-weight: bold !important;
  color: #376ed9 !important;
  font-size: 14px !important; }

.quantity {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 2px;
  outline: 2px solid #cfe7d2;
  outline-offset: -3px; }

.data-unavailable-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cdcdcd70;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0; }

.data-unavailable-overlay img {
  width: 30px; }

.data-unavailable-overlay h5 {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 17px; }

.data-unavailable-overlay p {
  font-size: 13px;
  font-style: italic; }

.empty-logs {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #adadad; }

.empty-logs img {
  width: 30px; }

.empty-logs h5 {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 17px; }

.empty-logs p {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0px; }

.no-order {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee; }

.no-order img {
  width: 50px; }

.no-order h5 {
  margin-bottom: 3px;
  font-size: 17px;
  font-weight: bold; }

.no-order p {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0px; }

.company-name {
  color: #376ed9 !important;
  font-size: 13px !important; }

.edit-profile-link {
  color: #000 !important;
  text-decoration: underline !important;
  margin-left: 8px;
  font-size: 14px; }

.profile-actions {
  display: flex;
  flex-direction: row;
  align-items: center; }

.dropdown-options {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer; }

.dropdown-option {
  display: block;
  color: #000;
  padding: 5px;
  background-color: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  transition: background-color .2s ease-in-out; }

.dropdown-option i {
  margin-right: 10px;
  font-size: 15px;
  padding: 5px; }

.dropdown-option:hover {
  background-color: #f2f2f2; }
